p {
    font-size: 24px;
}

main {
    width: 800px;
    padding: 10px;
    margin: auto;
}

/*main a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    background-color: orangered;
    border: 2px solid yellow;
    padding: 8px;
    display: inline-block;
    margin-top: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    font-weight: 600;
}

main a:hover,
main a:active {
    border-style: dashed;
    background-color: rgb(241, 136, 0);
}*/

img {
    width: 264px;
    border-radius: 5px;
    margin-top: 10px;
}

img:hover {
    width: 600px;
    border: 8px solid orange;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.design {
    text-decoration: none;
    font-size: 24px;
    color: #FFF;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline;
    box-shadow: none;
}

.design:hover,
.design:active {
    background-color: rgb(0, 0, 100);
    border: none;
    padding: 4px;
    border-radius: 10px;
    text-decoration: underline;
}

[href="achievements.html"] {
    padding: 10px 80px;
}

[href="achievements.html"] {
    padding: 10px 80px;
    background-color: rgb(0, 92, 60);
}

[href="achievements.html"]:hover {
    background-color: rgb(89, 152, 104);
}